.cells {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
.rows {
    display: flex;
}

.sketchEffect {
    background-color: black;
}