*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.revisedCells {
    border: 1px solid black;
}
.cells {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
.rows {
    display: flex;
}

.sketchEffect {
    background-color: black;
}