*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    background-color: lightblue;
}
#title {
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    margin: 10px
}
#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
#resize {
    width: 150px;
}
button {
    padding: 5px;
    font-family: 'Yusei Magic', sans-serif;
    color: rgb(54, 109, 126);
    font-size: 1.2em;
}
#etch-a-sketch {
    width: 500px;
    margin: auto;
    text-align: center;
}
#buttons {
    margin-top: 5px;
}