*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 640px;
  flex-wrap: wrap;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.filled {
  background-color: rgb(67, 67, 67);
}
